.sidenav-container {
    height: calc(100vh - 64px);
}

.main-sidenav {
    width: 350px; /* 200px + 150px */
}

.sidebar-wrapper {
    display: flex;
    width: 100%;
}

.primary-sidebar {
    width: 200px; 
}

.secondary-sidebar {
    width: 150px;
}

mat-sidenav-content {
    margin-left: 350px; /* 200px + 150px */
}
